services:
  # Next.js Application
  sdk:
    container_name: sdk
    build:
      context: .
      dockerfile: production.Dockerfile
      args:
        NODE_ENV: production
        NEXT_PUBLIC_BACKEND_ENDPOINT_URL: ${NEXT_PUBLIC_BACKEND_ENDPOINT_URL}
    ports:
      - 3000:3000
    deploy:
      resources:
        limits:
          memory: 2.5G
        reservations:
          memory: 1.5G

networks:
  default:
    name: ${COMPOSE_NETWORK}
    external: true
