@theme {
  /*red*/
  --color-red-50: #fdf0ee;
  --color-red-100: #f8cfca;
  --color-red-200: #f4b8b1;
  --color-red-300: #f0988d;
  --color-red-400: #ed8477;
  --color-red-500: #e86555;
  --color-red-600: #d35c4d;
  --color-red-700: #a5483c;
  --color-red-800: #80382f;
  --color-red-900: #612a24;
  /*gold*/
  --color-gold-50: #fbf7e6;
  --color-gold-100: #f3e5b2;
  --color-gold-200: #edd88d;
  --color-gold-300: #e4c759;
  --color-gold-400: #dfbc39;
  --color-gold-500: #d7ab07;
  --color-gold-600: #c49c06;
  --color-gold-700: #997905;
  --color-gold-800: #765e04;
  /*gray*/
  --color-gray-25: #fafbfc;
  --color-gray-50: #f0f1f3;
  --color-gray-100: #d0d3d9;
  --color-gray-200: #b9bdc7;
  --color-gray-300: #989fad;
  --color-gray-400: #858d9d;
  --color-gray-500: #667085;
  --color-gray-600: #5d6679;
  --color-gray-700: #48505e;
  --color-gray-800: #383e49;
  --color-gray-900: #2b2f38;
  /*info*/
  --color-info-50: #eaf4ff;
  --color-info-100: #beddfd;
  --color-info-200: #9fccfd;
  --color-info-300: #73b5fc;
  --color-info-400: #58a6fb;
  --color-info-500: #2e90fa;
  --color-info-600: #2a83e4;
  --color-info-700: #2166b2;
  --color-info-800: #194f8a;
  --color-info-900: #133c69;
  /*error*/
  --color-error-50: #feeceb;
  --color-error-100: #fac5c1;
  --color-error-200: #f8a9a3;
  --color-error-300: #f5827a;
  --color-error-400: #f36960;
  --color-error-500: #f04438;
  --color-error-600: #da3e33;
  --color-error-700: #aa3028;
  --color-error-800: #84251f;
  --color-error-900: #651d18;
  /* warning  */
  --color-warning-50: #fef4e6;
  --color-warning-100: #fdddb3;
  --color-warning-200: #fbcc8e;
  --color-warning-300: #fab55a;
  --color-warning-400: #f9a63a;
  --color-warning-500: #f79009;
  --color-warning-600: #e18308;
  --color-warning-700: #af6606;
  --color-warning-800: #884f05;
  --color-warning-900: #683c04;
  /*success*/
  --color-success-50: #e7f8f0;
  --color-success-100: #b6e9d1;
  --color-success-200: #92deba;
  --color-success-300: #60cf9b;
  --color-success-400: #41c588;
  --color-success-500: #12b76a;
  --color-success-600: #10a760;
  --color-success-700: #0d824b;
  --color-success-800: #0a653a;
  --color-success-900: #084d2d;
  /*   white  */
  --color-white: #ffffff;
  /*black*/
  --color-black: #0a0a0a;
  --color-transparent: transparent;

  /* ******************* FONT **************** */
  /* FAMILY */
  --font-app: var(--font-app);

  /* SIZES */
  --text-xxs: 10px;
}
