@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xqg9tv');
  src:  url('fonts/icomoon.eot?xqg9tv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xqg9tv') format('truetype'),
    url('fonts/icomoon.woff?xqg9tv') format('woff'),
    url('fonts/icomoon.svg?xqg9tv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach-circle:before {
  content: "\e900";
}
.icon-call-slash:before {
  content: "\e902";
}
.icon-call:before {
  content: "\e903";
}
.icon-send-2:before {
  content: "\e92c";
}
.icon-plus:before {
  content: "\e917";
}
.icon-close:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e928";
}
.icon-eusate:before {
  content: "\e901";
}
